@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Raleway:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{

    font-family: el ;

    font-family: "El Messiri", sans-serif;

   display: flex;
   flex-direction: column;

}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #E6763C;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #f56117;
}

body::-webkit-scrollbar-track-piece {
    background: #10000a;
}

.dropdown{
    display: none;
}

.sessao-servicos{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    margin-top: 2px;
}

.retangulo-separador{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 10px;
    width: 30%;
    background-color: #E6763C;
    border-radius: 12px;
    margin-top: 5px;
}

.titulo{
    display: flex;
    align-self: center;
    padding: 25px;
    font-size: 32px;
}

.sessao-servicos .topicos-servicos{
    display: flex;
    justify-content: center;
    width: 100%;
}

.sessao-servicos .carrossel-topicos{
    display: none;
}

.topicos-servicos .linha{
    display: flex;
    align-self: center;
    margin-bottom: 9%;
    z-index: -1;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #000;
}

.sessao-servicos .tp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 60vh;
    margin: 5% 2% 0 2%;
    padding: 1%;
    gap: 20px;
}

.tp .circulo{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 140px;
    border-radius: 50%;
    background-color: #FFEA7C;
    cursor: pointer;
}

.circulo img{
    align-self: center;
    width: 60%;
    height: 70px;
}

.tp .titulo-topico{
    font-size: 18px;
    font-weight: bold;
}

.tp .texto-topico{
    font-size: 17px;
    text-align: center;
    
}
.circulo{
    transition: all .5s;
    border: 10px solid transparent;
}
.circulo:hover{
    border: 10px solid #E6763C;
    border-radius: 50%;
}

.sessao-avaliacao{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-top: 4px;
}

.sessao-avaliacao .conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 82vh;
}

.sessao-avaliacao .eclipse{
    display: flex;
    position: absolute;
    align-self: flex-end;
}

.sessao-avaliacao .posicao-eclipse-02{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 50%;
    flex-direction: column-reverse;
}

.posicao-eclipse-02 .eclipse-02{
    display: flex;
    position: absolute;
    justify-self: flex-end;
}

.conteudo .imagem-parte{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 82vh;
}

.imagem-parte .icon-principal{
    width: 60%;
    height: 90%;
    margin-left: 15%;
    align-self: center;
}

.conteudo .avaliacao-parte{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 82vh;
    gap: 5%;
}

.avaliacao-parte .avaliacao{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8%;
    margin-right: 10%;
    height: 200px;
    gap: 5%;
}

.avaliacao .estrelas-avaliacao{
    width: 90%;
}

.estrelas-avaliacao .star{
    width: 30px;
    height: 30px;
    margin-right: 1%;
}

.avaliacao .comentario{
    display: flex;
    width: 90%;
    align-items: center;
    height: auto;
}

.avaliacao .autor{
    display: flex;
    width: 70%;
    flex-direction: column-reverse;
    align-items: end;
}

.conteudo .botao-contato{
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20%;
}

.botao-contato input{
    display: flex;
    background-color: #FF7E07;
    height: 50px;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.botao-contato input:hover{
    background-color: #ff8d21;
}

.rodape{
    width: 100%;
    height: 25vh;
    background-color: #FF7E07;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/Landing-Page/4c99e47609111a93dea376e11dd13359\ 1.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;


}

.navbar {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    margin-bottom: 40%;
    z-index: 1;
    border-bottom: 1px solid #000;
}

.menu-aberto{
    display: none;
}

.logo {
    width: 18%;
    cursor: pointer;
    margin-top: 1%;
}

    
.col button {
        width: 180px;
        color: #000;
        font-size: 20px;
        padding: 12px 0;
        background: #FF7E07;
        border: 1px solid #000;
        border-radius: 20px;
        outline: none;
        margin-top: 1%;
        cursor: pointer;
        font-weight: bold;
}
.col button:hover{
    background-color: #ff8d21;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10%;
    margin-right: 6%;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}
a:hover{
    transition: 1s;
    color: #E6763C;
}

.row {
    display: flex;
    height: 500px;
    align-items: center;
}

.col {
    flex-basis: 70%;
    margin-left: 4%;
    margin-top: 10%;
}

h1{
    color: white;
    font-size: 60px;
}
   

/*Header e banner*/

/*Sobre nós*/

.sobre{
    width: 100%;
    height: 103vh;
    display: flex;
    flex-direction: row; 
    margin-top: 20px; 
}

.barra{
    background-color: #E6763C;
    width: 30%;
    height: 2vh;
    display: flex;
    margin-bottom: 60%;
    border-radius: 12px;
    
}

.sobre .texto{
    color: black;
    display: flex;
    width: 50%;
    height: 90vh;
    margin-right: 5%;
}
.img{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin-top: 5%;
    
}
.texto span{
    color: black;
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
    
}


.logo2{
    width: 75%;
    display: flex;
    align-items: center;
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
    
}
@keyframes appear {
    from {
        opacity: 0;
        translate: -100vw 0;

    }

    to {
        opacity: 1;
        translate: 0 0;
    }

}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}
.logo3{
    width: 40%;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 16%;
    margin-left: 4%;
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}
.ip{
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
.texto .logo4{
    width: 20%;
    margin-top: 30%;
    position: absolute;
    margin-left: 32.5%;
}
.imgfooter{
    margin-top: 1%;
    margin-left: 5%;
    width: 25%;
}


.rodape .containerr{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape .containerr .navegacao p {
    color: black;
    padding: 0 5vw 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rodape .containerr .navegacao {
    width: 80%;
    height: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.ft{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

/*Responsividade*/

@media only screen and (max-width: 950px){
    .navbar{
        height: 10vh;
    }

    .dropdown{
        display: none;
    }

    nav ul li{
        margin-left: 6%;
        margin-right: 2%;
    }

    nav ul li a{
        font-size: 16px;
    }

    h1{
        font-size: 40px;
    }

    .col button{
        font-size: 16px;
    }

    .titulo{
        font-size: 22px;
    }

    .img{
        display: flex;
        width: 30%;
        margin-top: 3%;
        height: 0vh;
        position: absolute;
        flex-direction: column-reverse;
    }

    .logo2{
        display: none;
    }

    .logo3{
        width: 65%;
        margin-top: 0;
        margin-left: 15%;
    }

    .sobre{
        height: 85vh;
    }

    .sobre .texto{
        width: 100%;
        margin: 5%;
        height: 70vh;
    }

    .texto span{
        font-size: 16px;
        line-height: 24px;
    }

    .texto .logo4{
        margin-left: 75%;
        z-index: -1;
        margin-top: 25%;
    }

    .sessao-servicos .carrossel-topicos{
        display: none;
    }

    .topicos-servicos .linha{
        margin-bottom: 17%;
    }

    .sessao-servicos .tp{
        margin: 2% 2% 0 2%;
    }

    .tp .circulo{
        width: 55%;
        height: 100px;
    }

    .circulo img{
        height: 52px;
    }

    .tp .titulo-topico{
        font-size: 14px;
        text-align: center;
    }

    .tp .texto-topico{
        font-size: 16px;
    }

    .avaliacao-parte .avaliacao{
        height: 250px;
    }
}

@media only screen and (max-width: 600px){
    .navbar{
        height: 8vh;
        position: static;
    }

    .dropdown{
        display: flex;
        position: relative;
        flex-direction: column;
        margin-left: 20%;
        width: 50%;
    }

    .dropdown .botao-menu{
        border: none;
        background-color: #FFF;
        cursor: pointer;
        align-self: flex-end;
        margin-right: 15%;
    }

    .botao-menu .menu-aberto{
        display: flex;
        height: 30px;
    }

    .dropdown-child{
        display: none;
        width: 80%;
        position: absolute;
        height: 150px;
        margin-left: 20%;
        margin-top: 24%;
        background-color: #FFF;
        min-width: 20%;
    }

    ul{
        width: 100%;
    }

    ul li{
        list-style: none;
        color: #000;
        margin-top: 15px;
        margin-left: 10px;
    }

    ul li a{
        list-style: none;
        text-decoration: none;
        display: block;
        justify-content: space-evenly;
        color: #000;
    }

    .logo{
        width: 30%;
        margin-top: 0;
    }

    nav ul li a{
        display: none;
    }

    .row{
        height: 340px;
        justify-content: center;
    }

    .col{
        margin-left: 0;
        margin-top: 0;
    }

    .h1{
        font-size: 50px;
    }

    .col button{
        width: 340px;
        margin-top: 3%;
    }

    .titulo{
        font-size: 18px;
    }

    .sobre{
        margin-top: 0;
        height: 112vh;
    }

    .img{
        display: none;
    }

    .sobre .texto{
        height: 100vh;
    }

    .texto span{
        font-size: 16.5px;
    }

    .texto .logo4{
        margin-top: 205%;
    }

    .sessao-servicos{
        height: 80vh;
    }

    .sessao-servicos .carrossel-topicos{
        display: flex;
    }

    .sessao-servicos .topicos-servicos{
        display: none;
    }

    .carrossel-topicos .slider{
        display: block;
        height: 450px;
        width: 50%;
        margin: auto;
        margin-top: 2%;
        position: relative;
    }

    .slider li{
        list-style: none;
        position: absolute;
        align-items: center;
    }

    .slider input{
        display: none;
    }

    .slider label{
        background-color: #000;
        bottom: 10px;
        cursor: pointer;
        display: block;
        height: 15px;
        position: absolute;
        width: 15px;
        z-index: 10;
        margin-top: 20px;
        border-radius: 50%;
    }

    .slider li:nth-child(1) label{
        left: 50px;
    }

    .slider li:nth-child(2) label{
        left: 70px;
    }

    .slider li:nth-child(3) label{
        left: 90px;
    }

    .slider li:nth-child(4) label{
        left: 110px;
    }

    .slider .tp{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        opacity: 0;
        visibility: hidden;
    }

    .slider li input:checked ~ .tp{
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    .slider li label:checked{
        background-color: #7c7c7c;
    }

    .tp .circulo{
        height: 145px;
        width: 90%;
    }

    .circulo img{
        height: 75px;
    }

    .tp .titulo-topico{
        font-size: 22px;
    }

    .tp .texto-topico{
        font-size: 17px;
    }

    .sessao-avaliacao, .sessao-avaliacao .posicao-eclipse-02{
        height: 90vh;
    }

    .posicao-eclipse-02 .eclipse-02{
        width: 100%;
    }

    .sessao-avaliacao .eclipse{
        width: 40%;
        z-index: -1;
    }

    .sessao-avaliacao .conteudo{
        height: 70vh;
    }

    .conteudo .imagem-parte{
        display: none;
    }

    .conteudo .avaliacao-parte{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .avaliacao-parte .avaliacao{
        margin: 0;
        align-items: center;
        height: 300px;
    }

    .avaliacao .estrelas-avaliacao{
        width: 50%;
    }

    .avaliacao .autor{
        width: 80%;
    }

    .conteudo .botao-contato{
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }

    .rodape{
        height: 16vh;
    }

    .imgfooter{
        width: 45%;
    }
}