.graficos-wrapper {
    display: flex;
    flex-direction: column; /*flexbox como coluna*/
    align-items: center; 
}

.graficos-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; /* conteiner 100% da tela */
    max-width: 1200px;
    padding: 15px;
}

#grafico1, #grafico3, #grafico4 {
    background-color: azure;
    margin-bottom: 25px;
    border-radius: 7px;
    width: calc(33.33% - 10px); 
}

/* 
.graficos-container2 {
    display: flex;
}

#grafico3, #grafico4{
    background-color: rgb(255, 255, 255);
    height: 210px;
    margin-left: 10px;
    border-radius: 7px;
}

.lista-janelas{
    flex-direction: column;
} 

*/

.main-top h1{
    margin-bottom: 12px;
}


.main-top {
    img:nth-child(1) {
      position: absolute;
      width: 30px;
      left: 30px;
      margin: 10px 30px;
      cursor: pointer;
    }
  
    #seta_main:hover {
      filter: brightness(0) saturate(100%) invert(64%) sepia(1%) saturate(2832%) hue-rotate(32deg) brightness(86%) contrast(89%);
      transition: filter 0.5s;
    }
  
    h1:nth-child(2){
      margin-left: auto;
      margin-right: auto;
    }
  
    i:nth-child(3) {
      position: absolute;
      right: 20px;
      font-size: 20px;
      margin: 10px 30px;
      color: rgb(19, 19, 19);
      cursor: pointer;
    }
  
    i:nth-child(3):hover{
      color: rgb(110, 109, 109);
      transition: color 0.5s;
    }
    
  }
