.main .containeruser {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    background: white;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  button{
    cursor: pointer;
  }
  
  .header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
  }
  
  .header span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
  }
  
  #new {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #FF7E07;
  }
  
  .divTable {
    padding: 10px;
    width: auto; 
    height:inherit; 
    overflow:auto;
  }
  
  .divTable::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke; 
  }
  
  .divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
  }
  
  table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }
  
  thead {
    background-color: whitesmoke;
  }
  
  tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
  }
  
  tbody tr td {
    text-align: center;
    padding: 6px;
    max-width: 50px;
  }
  
  thead tr th {
    padding: 5px;
    /* text-align: start; */
    margin-bottom: 50px;
  }
  
  tbody tr {
    margin-bottom: 50px;
  }
  
  thead tr th.acao {
    width: 100px!important;
    text-align: center;
  }
  
  tbody tr td.acao {
    text-align: center;
  }
  
  @media (max-width: 700px) {
    body {
      font-size: 10px;
    }
    
    .header span {
      font-size: 15px;
    }
  
    #new {
      padding: 5px;
      font-size: 10px;
    }
  
    thead tr th.acao {
      width: auto!important;
    }
    
    td button i {
      font-size: 20px!important;
    }
  
    td button i:first-child {
      margin-right: 0;
    }
  
    .modalUser {
      width: 90%!important;
    }
  
    .modalUser label {
      font-size: 12px!important;
    }
  }
  
  .modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }
  
  .modalUser {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
  }
  
  .modalUser label {
    font-size: 14px;
    width: 100%;
  }

  .modalUser label:nth-child(5) {
    margin-right: 5%;
  }
  
  .modalUser input {
    width: 100%;
    outline: none;
    padding: 5px 10px; 
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px 0px rgba(219,219,219,1);
    border-radius: 8px;
    text-indent: 5px;
    border: 1px solid rgba(219,219,219,1);
  }

  .modalUser input:focus, .modalUser select:focus{
    border: 1px solid #FF7E07;
    color: rgb(0, 0, 0);
  }

  .modalUser select{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(219,219,219,1);
    text-indent: 15px;
    color: rgb(108, 108, 108);
    margin-bottom: 10px;
  }
  
  .modalUser button {
    width: 100%;
    margin: 10px auto;
    outline: none;
    border-radius: 20px; 
    padding: 5px 10px; 
    width: 100%;
    border: none;
    background-color: #FF7E07;
    color: black;
  }

  .modalUser button:hover{
    background-color: #ff7f07ee;
  }
  
  .active {
    display: flex;
  }
  
  .active .modalUser {
    animation: modalUser .4s;
  }
  
  @keyframes modalUser {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  td button {
    border: none;
    outline: none;
    background: transparent;
  }
  
  td button i {
    font-size: 25px;
  }
  
  td button i:first-child {
    margin-right: 10px;
  }